<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Add Subscription</h1>

    <form action="/subscriptions" method="post">

        <label for="name">Subscription Name:</label>
        <input type="text" name="subName" id="name">

        <label for="Category">Category: </label>
        <select name="category" id="Category">
            <option value="category">Entertainment</option>
            <option value="category">Fitness & Health</option>
            <option value="category">E-Commerce</option>
            <option value="category">Applications</option>
        </select>

        <label for="price">Charge:</label>
        <input type="number" name="price" id="price">
        
        <label for="start-date">Start</label>
        <input type="date" name="startDate" id="start-date">
        
        <label for="end-date">End</label>
        <input type="date" name="endDate" id="end-date">

        <button type="submit">Add Subscription</button>
    </form>

</body>
</html>